Scope

This project's scope is to by 22 June 2017 to deliver an Application with the specified documentation, that delivers all the items specified in the Project Requirements Section with no limits as to financial cost.