Executive Summary

Increases in productivity and increasing Career Consultant time resources into revenue generating activities would be realised by the reallocation of Customer Pre-Screening of their Career Options to a software application. This software, owned by FindMyCareer (FMC), will generate additional revenue for FMC by way of sales of licensed copies to other service providers further offsetting Development Costs. Delivery is projected to be at a cost of $XXXXX on 22 June 2017.